html, body {
  margin: 0;
  padding: 0;
}
.main {
  margin: 1em;
  padding: 13px;
}
h1.title {
  display: inline;
}
h1.title a {
  /* color: inherit; */
}

table, tr, td, th, thead, tfoot, tbody {
  border-style: none;
  white-space: nowrap;
}
tr {
  margin: 0; padding: 0;
}
td, th {
  padding: 0.2em;
}
table.history {
  border-collapse: collapse;
  margin: 1em;
}
/* start styling with borders around every square, then selectively remove them */
table.history tbody {
  border: 1px solid grey;
}
table.history thead tr th {
  text-align: left;
}
table.history thead tr th.zone {
  text-align: right;
}
table.history tbody tr td {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-align: right;
}
table.history tbody tr.main-area {
  border-top: 1px solid grey;
}
table.history td.dur {
  border-left: none;
  border-right: none;
}
table.history td.delta-dur {
  margin: 0;
  padding: 0;
}
table.history tbody tr.npctext-area,
table.history tbody tr.side-area {
  font-size: 80%;
}
table.history tbody tr.side-area td.side-dur,
table.history tbody tr td.portals {
  text-align: left;
}

/* the timer's history link */
table.timer.history tfoot {
  text-align: center;
  border: 1px solid grey;
}
table.timer.history tfoot .timer-links a {
  display: inline-block;
  width: 50%;
}

.paginator * {
  display: inline-block;
  text-align: center;
  width: 20%;
}

/* start styling with borders around every square, then selectively remove them */
table.history-stats {
  border-collapse: collapse;
  margin: 1em;
  border: 1px solid grey;
}
table.history-stats tbody tr td {
  border: 1px solid grey;
  text-align: right;
}
table.history-stats td.maps-completed {
  text-align: left;
}
table.history-stats td.dur {
  border-left: none;
  border-right: none;
}
table.history-stats td:first-child {
  border-top: none;
  border-bottom: none;
}
table.history-stats th.title {
  border-top: 1px solid grey;
}

nav {
  white-space: nowrap;
  font-size: 85%;
}
nav > a {
  margin: 1em;
}
nav .inactive {
  opacity: 0.5;
  text-decoration: none;
}

.favicon-source {
  font-size: 1600%;
  color: #eb99a1;
  height: 1.2em;
  width: 1.2em;
  border: 1px solid #eb99a1;
  margin: 0; padding: 0;
  line-height: 1;
  text-align: center;
  /* vertical-align: middle; */
}
.favicon-source .fas {
  margin: 0.1em;
}

.main .main-timer {
  margin: 0.5em;
}
.main .main-timer div {
  font-size: 800%;
  text-align: center;
  width: 100%;
}
.sub-timer {
  margin: 0.5em;
}
.sub-timer div {
  font-size: 300%;
  text-align: center;
  width: 100%;
}
table.timer-details td:first-child {
  text-align: right;
}
table.timer-details td {
  width: 50%;
}
table.timer-details .session-buttons td {
  text-align: center;
}
table.timer-details .session-buttons .button {
  margin-left: 1em;
  margin-right: 1em;
}

.map-icon, .side-icon {
  height: 1em;
  width: 1em;
  padding-right: 0.2em;
  max-width: none;
}
.big-icon {
  height: 2em;
  width: 2em;
  margin: -0.5em;
  padding-right: 0.3em;
}
.med-icon {
  height: 1.4em;
  width: 1.4em;
  margin: -0.2em;
  padding-right: 0.25em;
}
/* most map icons look great on a black background. For the ones that don't, draw a border. */
/* https://stackoverflow.com/questions/12690444/css-border-on-png-image-with-transparent-parts */
/* .side-icon-abyss, */
/* .side-icon-trial, */
/* .side-icon-zana, */
/* .side-icon-vaal { */
/* .side-icon-einhar, */
/* .map-icon-Incursion_Temple1, */
/* .side-icon-alva, */
/* .side-icon-heist-npc, */
/* .side-icon-harvest, */
/* .side-icon-envoy, */
/* .side-icon-maven, */
[src$="IncursionPortal.png"] {
  filter: drop-shadow(1px 1px 0 #eb99a1)
          drop-shadow(-1px -1px 0 #eb99a1);
}

.search-form {
  margin-right: 1em;
}

.search-text {
  position: relative;
  /* height: 2em; */
}
.search-text .fas {
  position: absolute;
  top: 0em; left:0.3em;
}
.search-text input {
  /* position: absolute; */
  /* top:0; left:0; */
  /* height: 1.6em; */
  padding-left: 2em;
}

table.by-map {
  text-align: right;
}

a:hover {
  /* without this, they move the entire ui below them down */
  border-bottom: 0;
}
a.button:hover {
  /* ...except this one */
  border-bottom: 1px solid #eb99a1;
}
.search-date .button {
  font-size: 80%;
  opacity: 0.5;
}
.search-goal {
  white-space: nowrap;
}

.overlay-main {
}
.overlay-main .even {
}
.overlay-main .odd {
  background-color: #222;
}
.overlay-main .timer,
.overlay-main .goal {
  text-align: right;
  width: 1em;
  white-space: nowrap;
}
.overlay-main .last .timer {
  font-size: 300%;
  line-height: 1;
}
.overlay-main .last {
  vertical-align: top;
}
.overlay-main .overlay-back {
  display: block;
  opacity: 0.33;
}

.changelog-entries h2 {
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  margin-bottom: 0;
}
.changelog-entries ul {
  margin-top: 0;
}
.changelog-subscribe-buttons .button {
  margin: 0.5em;
}

input.volume {
  padding:0;
  margin:0;
}

ul.conquerors-state {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.conquerors-state > li {
  display: inline-block;
  border: 1px solid grey;
  padding: 0;
  margin: 0;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.debug-link {
  float: right;
  opacity: 0;
  text-decoration: underline;
}
.debug-link:hover {
  opacity: 0.4;
}
svg.icon-region {
  width: 0.9em;
  height: 0.9em;
  padding-right: 0.2em;
}
svg.icon-region .blur {
  fill: black;
  fill-opacity: 0;
  /* stroke: goldenrod; */
  stroke: #eb99a1;
}
svg.icon-region .inner.blur {
  stroke-width: 0.1;
}
svg.icon-region .outer.blur {
  stroke-width: 0;
}
svg.icon-region .sighted,
svg.icon-region .unsighted,
svg.icon-region .focus {
  /* fill: goldenrod; */
  fill: #eb99a1;
  fill-opacity: 1;
  /* stroke: goldenrod; */
  stroke: #eb99a1;
  stroke-width: 0.1;
}
svg.icon-region .sighted {
  fill-opacity: 0;
}
svg.icon-region .unsighted {
  fill-opacity: 0.5;
}
svg.icon-region .focus.focus-baran {
  fill: red;
}
svg.icon-region .focus.focus-veritania {
  fill: blue;
}
svg.icon-region .focus.focus-alhezmin {
  fill: green;
}
svg.icon-region .focus.focus-drox {
  fill: yellow;
}

.electron-download,
.beta-alert {
  text-align: center;
  border: 0.2em solid #eb99a1;
  border-radius: 1em;
  padding: 1em;
}
.abandoned-run-duration {
  font-style: italic;
}
.world-area-drops {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table.encounters {
  margin-bottom: 1em;
  border-top: 1px inset grey;
}
