body {
  margin: 1em;
}
h1.title {
  display: inline;
}
h1.title a {
  /* color: inherit; */
}

table, tr, td, th, thead, tfoot, tbody {
  border-style: none;
  white-space: nowrap;
}
tr {
  margin: 0; padding: 0;
}
td, th {
  padding: 0.2em;
}
table.history {
  border-collapse: collapse;
  margin: 1em;
}
/* start styling with borders around every square, then selectively remove them */
table.history tbody {
  border: 1px solid grey;
}
table.history tbody tr td {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  text-align: right;
}
table.history tbody tr.main-area {
  border-top: 1px solid grey;
}
table.history td.dur {
  border-left: none;
  border-right: none;
}
table.history tbody tr.side-area {
  font-size: 80%;
}
table.history tbody tr.side-area td.side-dur,
table.history tbody tr td.portals {
  text-align: left;
}

/* the timer's history link */
table.timer.history tfoot {
  text-align: center;
  border: 1px solid grey;
}

.paginator * {
  display: inline-block;
  text-align: center;
  width: 20%;
}

/* start styling with borders around every square, then selectively remove them */
table.history-stats {
  border-collapse: collapse;
  margin: 1em;
  border: 1px solid grey;
}
table.history-stats tbody tr td {
  border: 1px solid grey;
  text-align: right;
}
table.history-stats td.maps-completed {
  text-align: left;
}
table.history-stats td.dur {
  border-left: none;
  border-right: none;
}
table.history-stats td:first-child {
  border-top: none;
  border-bottom: none;
}
table.history-stats th.title {
  border-top: 1px solid grey;
}

nav * {
  margin: 1em;
}
nav .inactive {
  opacity: 0.5;
  text-decoration: none;
}

.main-timer {
  margin: 1em;
}
.main-timer div {
  font-size: 800%;
  text-align: center;
  width: 100%;
}
table.timer-details td:first-child {
  text-align: right;
}
table.timer-details td {
  width: 50%;
}
