h1.title {
  display: inline;
}
h1.title a {
  /* color: inherit; */
}

table.history {
  border-collapse: collapse;
  margin: 2em;
}
/* start styling with borders around every square, then selectively remove them */
table.history tbody {
  border: 1px solid black;
}
table.history tbody tr td {
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: right;
}
table.history tbody tr.main-area {
  border-top: 1px solid black;
}
table.history td.dur {
  border-left: none;
  border-right: none;
}
table.history tbody tr.side-area {
  font-size: 80%;
}

.paginator * {
  display: inline-block;
  text-align: center;
  width: 20%;
}

/* start styling with borders around every square, then selectively remove them */
table.history-stats {
  border-collapse: collapse;
  margin: 2em;
  border: 1px solid black;
}
table.history-stats tbody tr td {
  border: 1px solid black;
  text-align: right;
}
table.history-stats td.maps-completed {
  text-align: left;
}
table.history-stats td.dur {
  border-left: none;
  border-right: none;
}
table.history-stats td:first-child {
  border-top: none;
  border-bottom: none;
}
table.history-stats th.title {
  border-top: 1px solid black;
}

nav * {
  margin: 1em;
}
nav .active {
  background: lightgrey;
  border: 3px solid lightgrey;
  border-radius: 5px;
}
